<div class="row mb-5">
  <div class="col-12 page-header">
    <span>{{ 'BILLING' | translate }}</span>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <mat-tab-group [dynamicHeight]="true">
      <mat-tab label="{{ 'TARIFFS' | translate }}">
        <ng-template matTabContent>
          <div class="p-3">
            <app-moderation-tariffs></app-moderation-tariffs>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'PROMOCODES' | translate }}">
        <ng-template matTabContent>
          <div class="p-3">
            <app-moderation-promocodes></app-moderation-promocodes>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="{{ 'PAYMENTS' | translate }}">
        <ng-template matTabContent>
          <div class="p-3">
            <app-moderation-payments></app-moderation-payments>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>