<div class="row mt-5">
  <div class="col-12 actions-bar">
    <button mat-flat-button color="accent-grad" (click)="createPromocode()">
      <mat-icon>add</mat-icon>
      {{ 'NEW_PROMOCODE' | translate }}
    </button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <mat-card *ngIf="dataSource" class="mat-elevation-z0 mt-3 w-100 promocodes-table-container">
      <table mat-table [dataSource]="dataSource" class="promocodes-table w-100">
        <!-- Code Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>{{ 'CODE' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="code-column">
            <span class="font-weight-bold">{{ promocode.code }}</span>
          </td>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef>{{ 'DISCOUNT' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="discount-column">
            {{ promocode.discount }}%
          </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>{{ 'DESCRIPTION' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="description-column">
            {{ promocode.description }}
          </td>
        </ng-container>

        <!-- Expires At Column -->
        <ng-container matColumnDef="expiresAt">
          <th mat-header-cell *matHeaderCellDef>{{ 'EXPIRES_AT' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="expires-at-column">
            {{ promocode.expiresAt | dateFormat }}
          </td>
        </ng-container>

        <!-- Usages Count Column -->
        <ng-container matColumnDef="usagesCount">
          <th mat-header-cell *matHeaderCellDef>{{ 'USAGES_COUNT' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="usages-count-column">
            {{ promocode.usagesCount }}
          </td>
        </ng-container>

        <!-- Usages Limit Column -->
        <ng-container matColumnDef="usagesLimit">
          <th mat-header-cell *matHeaderCellDef>{{ 'USAGES_LIMIT' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="usages-limit-column">
            <ng-container *ngIf="promocode.usagesLimit > 0">{{ promocode.usagesLimit }}</ng-container>
            <ng-container *ngIf="promocode.usagesLimit == null">-</ng-container>
          </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>{{ 'STATUS' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="status-column">
            <span *ngIf="promocode.isStatusActive" class="firm-color-accent-text">{{ 'ACTIVE' | translate }}</span>
            <span *ngIf="promocode.isStatusDisabled" class="firm-color-error-text">{{ 'DISABLED' | translate }}</span>
          </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONS' | translate }}</th>
          <td mat-cell *matCellDef="let promocode" class="actions-column">
            <button mat-fab mat-fab-small (click)="editPromocode(promocode)" color="primary" class="mr-2">
              <mat-icon matTooltip="{{ 'EDIT' | translate }}">edit</mat-icon>
            </button>
            <button mat-fab mat-fab-small (click)="deletePromocode(promocode)" color="primary">
              <mat-icon matTooltip="{{ 'DELETE' | translate }}">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let promocode; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator *ngIf="numTotalItems > 0" [pageSize]="itemsPerPage" [pageIndex]="currentPage" [length]="numTotalItems"
                     [pageSizeOptions]="pageSizeOptions" showFirstLastButtons
                     (page)="handlePage($event)"></mat-paginator>

      <div *ngIf="numTotalItems === 0" class="row">
        <div class="col-md-12 py-3 text-center">
          {{ 'NO_RECORDS_YET' | translate }}
        </div>
      </div>
    </mat-card>
  </div>
</div>