@import "../../../../../../../variables";


.promocodes-table-container {
  overflow-x: auto;

  .promocodes-table {
    td, th {
      text-align: center;
      padding: 0 10px;
    }

    a {
      text-decoration: underline;
    }

    .actions-column {
      min-width: 100px;
    }
  }
}